<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818856382655-a1j0ha3k85bs49b7mg0s0l30nps45u26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818856382655-a1j0ha3k85bs49b7mg0s0l30nps45u26</string>
	<key>API_KEY</key>
	<string>AIzaSyBvE2hKQ7luO2dJAz9dfuL-qm6dSY9Nd1o</string>
	<key>GCM_SENDER_ID</key>
	<string>818856382655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kerryhuang.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-49135</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-49135.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818856382655:ios:37ccfc64a4ad338755f60a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-49135.firebaseio.com</string>
</dict>
</plist>